.card1{
 display: flex;

}
.col-md-4{
    height:200px;
}
.opera{
    color:orange;
}
.card{
    transition: 0.3s;
}
.card:hover{
    transform: scale(1.1);
}

.navbar{
    background: #000328;

    
 }
 .nav-link:hover{
    cursor: pointer;
   transform: scale(1.1);
 }
 
.h{
    text-align: center;
}
 .nav-link{
font-size: 20px;
 }