body {
  background-image:url(https://pix10.agoda.net/hotelImages/127/1270426/1270426_16101917120047934359.jpg?s=1024x768);
  height: 60vh;
  background-size: cover;
  background-position: center;
}
.login-page{
  width: 500px;
  height: 400px;
  padding: 20% 0 0;

}

/* .login-page{
  width: 450px;
  padding: 10% 0 0;
  margin-top: 400px;
/* } */
.form{
  
 position: relative;
  z-index: 1;
  background:transparent;
  max-width: 360px;
margin-left: 550px;
margin-top: 310px;
  padding: 45px;
  text-align: center;
}

.form input{
  font-family: "Roboto", "sans-serif";
  outline: 1;
  background: #f2f2f2;
  width: 100%;
    border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box sizing: border-box;
  font size: 14px;
  
}
.form button{
  font-family: "Roboto", Sans-serif; 
  text-transform: uppercase;
  outline: 0;
  background: #275cda;
  margin-bottom: 10px;
  margin-left: 12px;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  
    
}

.form button:hover,.form button: active{
  background: #43A047;
}

.form message{
  margin: 15px 0 0;
  color: #ffffff;
  font-size: 14px;
 
}
.message{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* .form .message a{
  color: #FCAF50;
  text-decoration: none;
  
} */

/* .form .login-form{
  display: none;
  
} */ */